forms_app/__pycache__/__init__.cpython-38.pyc
forms_app/__pycache__/admin.cpython-38.pyc
forms_app/__pycache__/forms.cpython-38.pyc
forms_app/__pycache__/models.cpython-38.pyc
forms_app/__pycache__/urls.cpython-38.pyc
forms_app/__pycache__/views.cpython-38.pyc
forms_app/migrations/__pycache__/__init__.cpython-38.pyc
